# Data Carpentry for a Mini Analysis (`R`)

**Exercise 1:** Read in the dataset, `/dsa/data/all_datasets/baseball-databank/data/Master.csv`. Call this data frame, `df`.

In [1]:
library(dplyr)
library(tidyr)
library(lubridate)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union


Attaching package: ‘lubridate’

The following object is masked from ‘package:base’:

    date

In [2]:
# Code for Exercise 1 goes here
# -----------------------------

df <- read.csv('/dsa/data/all_datasets/baseball-databank/data/Master.csv')

head(df)

  playerID  birthYear birthMonth birthDay birthCountry birthState birthCity
1 aardsda01 1981      12         27       USA          CO         Denver
2 aaronha01 1934       2          5       USA          AL         Mobile
3 aaronto01 1939       8          5       USA          AL         Mobile
4 aasedo01  1954       9          8       USA          CA         Orange
5 abadan01  1972       8         25       USA          FL         Palm Beach
6 abadfe01  1985      12         17       D.R.         La Romana  La Romana
  deathYear deathMonth deathDay ⋯ nameLast nameGiven        weight height bats
1   NA      NA         NA       ⋯ Aardsma  David Allan      220    75     R
2   NA      NA         NA       ⋯ Aaron    Henry Louis      180    72     R
3 1984       8         16       ⋯ Aaron    Tommie Lee       190    75     R
4   NA      NA         NA       ⋯ Aase     Donald William   190    75     R
5   NA      NA         NA       ⋯ Abad     Fausto Andres    184    73     L
6   NA      NA         NA       ⋯ Abad     Fernando Antonio 220    73     L
  throws debut      finalGame  retroID  bbrefID
1 R      2004-04-06 2015-08-23 aardd001 aardsda01
2 R      1954-04-13 1976-10-03 aaroh101 aaronha01
3 R      1962-04-10 1971-09-26 aarot101 aaronto01
4 R      1977-07-26 1990-10-03 aased001 aasedo01
5 L      2001-09-10 2006-04-13 abada001 abadan01
6 L      2010-07-28 2015-10-03 abadf001 abadfe01

We are not interested in the columns dealing with death for these exercises. Let's go ahead and get rid of them.

**Exercise 2:** Remove the `deathYear`, `deathMonth`, `deathDay`, `deathCountry`, `deathState`, and `deathCity` columns from the data frame. Rename the data frame without these columns, `players`.

In [3]:
names(df)

## ensuring players includes all other column names so checking names.

 [1] "playerID"     "birthYear"    "birthMonth"   "birthDay"     "birthCountry"
 [6] "birthState"   "birthCity"    "deathYear"    "deathMonth"   "deathDay"
[11] "deathCountry" "deathState"   "deathCity"    "nameFirst"    "nameLast"
[16] "nameGiven"    "weight"       "height"       "bats"         "throws"
[21] "debut"        "finalGame"    "retroID"      "bbrefID"

In [4]:
# Code for Exercise 2 goes here
# -----------------------------

## use subset to create a subset minus the list of unwanted columns

players <- subset(df, select=-c(deathYear, deathMonth, deathDay, deathCountry, deathState, deathCity))

head(players)

  playerID  birthYear birthMonth birthDay birthCountry birthState birthCity
1 aardsda01 1981      12         27       USA          CO         Denver
2 aaronha01 1934       2          5       USA          AL         Mobile
3 aaronto01 1939       8          5       USA          AL         Mobile
4 aasedo01  1954       9          8       USA          CA         Orange
5 abadan01  1972       8         25       USA          FL         Palm Beach
6 abadfe01  1985      12         17       D.R.         La Romana  La Romana
  nameFirst nameLast nameGiven        weight height bats throws debut
1 David     Aardsma  David Allan      220    75     R    R      2004-04-06
2 Hank      Aaron    Henry Louis      180    72     R    R      1954-04-13
3 Tommie    Aaron    Tommie Lee       190    75     R    R      1962-04-10
4 Don       Aase     Donald William   190    75     R    R      1977-07-26
5 Andy      Abad     Fausto Andres    184    73     L    L      2001-09-10
6 Fernando  Abad     Fernando Antonio 220    73     L    L      2010-07-28
  finalGame  retroID  bbrefID
1 2015-08-23 aardd001 aardsda01
2 1976-10-03 aaroh101 aaronha01
3 1971-09-26 aarot101 aaronto01
4 1990-10-03 aased001 aasedo01
5 2006-04-13 abada001 abadan01
6 2015-10-03 abadf001 abadfe01

**Exercise 3:** Create a date column called `players$birthdate` by combining the `birthYear`, `birthMonth` and `birthDay` columns, then delete these columns.

In [5]:
# Code for Exercise 3 goes here
# -----------------------------

## use unite function

players <- unite(players, birthDate, birthYear:birthDay, remove = TRUE)


## use lubridate to ensure the new column is date-time

players$birthDate <- ymd(players$birthDate)

#failed to parse due to NA values. can use na.rm

Warning message:
“ 464 failed to parse.”

In [6]:
head(players$birthDate, n=15)
typeof(players$birthDate)

 [1] "1981-12-27" "1934-02-05" "1939-08-05" "1954-09-08" "1972-08-25"
 [6] "1985-12-17" "1854-11-04" "1877-04-15" "1869-11-11" "1866-10-14"
[11] "1862-03-16" "1874-10-22" "1951-02-16" "1972-08-17" "1967-09-19"

[1] "double"

**Exercise 4**: Now convert the `players$debut` and `players$finalGame` columns to date columns.

In [7]:
# Code for Exercise 4 goes here
# -----------------------------

## lubridate

players$debut <- ymd(players$debut)
players$finalGame <- ymd(players$finalGame)

typeof(players$debut)
typeof(players$finalGame)

[1] "double"

[1] "double"

This is a good time to discuss how to calculate differences between times. `lubridate` provides some convenient ways to do this by simply subtracting one date from another. See the example below.

In [8]:
delta<-dmy("01-03-2017")-mdy("August 1st, 2000")
delta

Time difference of 6056 days

**Exercise 5**: Create a new column in the players data frame called `debut_age` that finds the difference in days between a players birth and their debut.

In [9]:
# Code for Exercise 5 goes here
# -----------------------------

## ensure when using mutate to set column to '=' not '<-' as this appears to add the <- to the column name


players <- players %>%
    mutate(debut_age = ymd(debut)-ymd(birthDate))

In [10]:
head(players$debut_age)

head(players)

Time differences in days
[1]  8136  7372  8284  8357 10608  8989

  playerID  birthDate  birthCountry birthState birthCity  nameFirst nameLast
1 aardsda01 1981-12-27 USA          CO         Denver     David     Aardsma
2 aaronha01 1934-02-05 USA          AL         Mobile     Hank      Aaron
3 aaronto01 1939-08-05 USA          AL         Mobile     Tommie    Aaron
4 aasedo01  1954-09-08 USA          CA         Orange     Don       Aase
5 abadan01  1972-08-25 USA          FL         Palm Beach Andy      Abad
6 abadfe01  1985-12-17 D.R.         La Romana  La Romana  Fernando  Abad
  nameGiven        weight height bats throws debut      finalGame  retroID
1 David Allan      220    75     R    R      2004-04-06 2015-08-23 aardd001
2 Henry Louis      180    72     R    R      1954-04-13 1976-10-03 aaroh101
3 Tommie Lee       190    75     R    R      1962-04-10 1971-09-26 aarot101
4 Donald William   190    75     R    R      1977-07-26 1990-10-03 aased001
5 Fausto Andres    184    73     L    L      2001-09-10 2006-04-13 abada001
6 Fernando Antonio 220    73     L    L      2010-07-28 2015-10-03 abadf001
  bbrefID   debut_age
1 aardsda01  8136 days
2 aaronha01  7372 days
3 aaronto01  8284 days
4 aasedo01   8357 days
5 abadan01  10608 days
6 abadfe01   8989 days

**Exercise 6**: Find the mean age in years of the `debut_age` column. (Hint: you may have to use the `as.numeric()` function on the `debut_age` column to remove the language around each value. Also, when finding the mean, you may need to use the `na.rm` parameter. Finally, remember,the `debut_age` values are currently in days but we want years)

In [16]:
# Code for Exercise 6 goes here
# -----------------------------

## First method does not account for leap year. This is a small issue though as it won't change the age.

mean(as.numeric(players$debut_age)/365, na.rm=TRUE)

## We can use the below to instead calculate based on leap years if need be. This will produce a slightly different 
## result as the decimal places are different when factoring leap years:

interval(players$birthDate, players$debut) %>% time_length("year") %>% mean(na.rm=TRUE)

[1] 24.31923

[1] 24.30308

# Save your notebook, then `File > Close and Halt`