In [1]:
```
# Exercise #1, Load Teams
import pandas as pd
import numpy as np
teams = pd.read_csv('../../../datasets/baseball-databank/data/Teams.csv')

databaseFilename = '../baseball.db'
connection = sqlite3.connect(databaseFilename)
cursor = connection.cursor()

teams.fillna(value=0) # Fill NaN values
cursor.executemany('INSERT INTO teams VALUES(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)',
                   teams.itertuples(index=False, name ='None'))

# Save (commit) the changes
connection.commit()
```

SyntaxError: invalid syntax (<ipython-input-1-995f5129e3d6>, line 1)

In [3]:
# Exercise #1, Load Teams
import pandas as pd
import numpy as np
import sqlite3
teams = pd.read_csv('../../../datasets/baseball-databank/data/Teams.csv')

databaseFilename = '../baseball.db'
connection = sqlite3.connect(databaseFilename)
cursor = connection.cursor()

teams.fillna(value=0) # Fill NaN values
cursor.executemany('INSERT INTO teams VALUES(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)',
                   teams.itertuples(index=False, name ='None'))

# Save (commit) the changes
connection.commit()

Exercise 2;
DO NOT USE 
```SQL
UPDATE batting
SET SH = 0, GIDP = 0
WHERE GIDP is NULL OR SH is NULL;
```

In [4]:
# Exerciese 2
import sqlite3
import pandas as d

databaseFilename = '../baseball.db'
connection = sqlite3.connect(databaseFilename)
cursor = connection.cursor()

# Use two separate commands
cursor.execute('UPDATE batting SET SH=0 WHERE SH is NULL')
cursor.execute('UPDATE batting SET GIDP=0 WHERE GIDP is NULL')

# Save (commit) the changes
connection.commit()

connection.close()

In [5]:
# exercise 3
import sqlite3
import pandas as pd

databaseFilename = '../baseball.db'
connection = sqlite3.connect(databaseFilename)
cursor = connection.cursor()

# Code for Exercise 3 goes here 
# -----------------------------

SQL = 'select playerID, HBP,HR,RBI from batting  order by 2 desc  limit 100;'

result = pd.read_sql_query(SQL, connection)

print(result.describe().transpose())
# -----------------------------

connection.close()

     count   mean        std   min    25%   50%    75%    max
HBP  100.0  25.48   6.173387  20.0  21.00  24.0  27.00   51.0
HR   100.0  12.72  12.647577   0.0   3.00   7.5  20.25   54.0
RBI  100.0  71.40  26.438035  18.0  53.75  70.0  87.25  156.0

In [2]:
# Exercise 4
import sqlite3
import pandas as pd

databaseFilename = '../baseball.db'
connection = sqlite3.connect(databaseFilename)
cursor = connection.cursor()

# Code for Exercise 3 goes here 
# -----------------------------

databaseFilename = '../baseball.db'
connection = sqlite3.connect(databaseFilename)
cursor = connection.cursor()

SQL = 'select teamID, avg(HBP) '
SQL += ' from batting '
SQL += ' group by teamID '
SQL += ' order by 2 desc limit 5'

result = pd.read_sql_query(SQL, connection)

print(result)
# -----------------------------
connection.close()

  teamID  avg(HBP)
0    BLN  4.442708
1    BL3  3.861111
2    BFP  3.692308
3    TL2  3.550000
4    PHP  3.187500

In [5]:
# Exercise 5
import sqlite3
import pandas as pd

databaseFilename = '../baseball.db'
connection = sqlite3.connect(databaseFilename)
cursor = connection.cursor()

SQL = 'select nameFirst, nameLast, sum(AB),sum(R), sum(R)/sum(AB) '
SQL += ' from players join batting using (playerID) '
SQL += ' group by nameFirst, nameLast '
SQL += ' having sum(AB) > 100 '
SQL += ' order by sum(R)/sum(AB) desc, 4  limit 10'

result = pd.read_sql_query(SQL, connection)

print(result)

connection.close()

  nameFirst   nameLast  sum(AB)  sum(R)  sum(R)/sum(AB)
0      Matt  Alexander    168.0   111.0        0.660714
1    Dickie    Flowers    120.0    40.0        0.333333
2     Jimmy       Wood    487.0   162.0        0.332649
3      Glen     Barker    164.0    53.0        0.323171
4      Jack       Reed    129.0    39.0        0.302326
5      Ross     Barnes   2392.0   698.0        0.291806
6     Steve       King    272.0    78.0        0.286765
7       Ced    Landrum    105.0    30.0        0.285714
8    Stuffy    Stewart    265.0    74.0        0.279245
9      Dave   Birdsall    240.0    66.0        0.275000

In [9]:
# OTHER SQL
import sqlite3
import pandas as pd

databaseFilename = '../baseball.db'
connection = sqlite3.connect(databaseFilename)
cursor = connection.cursor()

SQL = 'select playerID, HBP from batting  order by 2 desc  limit 3;'

result = pd.read_sql_query(SQL, connection)

print(result)

connection.close()

    playerID   HBP
0  jennihu01  51.0
1   huntro01  50.0
2  jennihu01  46.0

In [4]:

import sqlite3
import pandas as pd

databaseFilename = '../baseball.db'
connection = sqlite3.connect(databaseFilename)
cursor = connection.cursor()

SQL = 'select nameFirst, nameLast, sum(AB),sum(R), sum(R)/sum(AB) '
SQL += ' from players join batting using (playerID) '
SQL += ' group by nameFirst, nameLast '
SQL += ' having sum(AB) > 100 '
SQL += ' order by sum(R)/sum(AB) desc, 4  limit 10'

result = pd.read_sql_query(SQL, connection)

print(result)

connection.close()

  nameFirst   nameLast  sum(AB)  sum(R)  sum(R)/sum(AB)
0      Matt  Alexander    168.0   111.0        0.660714
1    Dickie    Flowers    120.0    40.0        0.333333
2     Jimmy       Wood    487.0   162.0        0.332649
3      Glen     Barker    164.0    53.0        0.323171
4      Jack       Reed    129.0    39.0        0.302326
5      Ross     Barnes   2392.0   698.0        0.291806
6     Steve       King    272.0    78.0        0.286765
7       Ced    Landrum    105.0    30.0        0.285714
8    Stuffy    Stewart    265.0    74.0        0.279245
9      Dave   Birdsall    240.0    66.0        0.275000